<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zx.customview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.zx.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zx.transition.ActivityA"
            android:theme="@style/transitionTheme" />
        <activity
            android:name="com.zx.transition.ActivityB"
            android:theme="@style/transitionTheme" />
        <activity android:name="com.zx.transition.ElementShareActivity" />
        <activity android:name="com.zx.transition.ElementShareActivityB" />
        <activity android:name="com.zx.transition.SamePageActivity1" />
        <activity android:name="com.zx.transition.SamaPageActivity2" />
    </application>

</manifest>